<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    table {
      width: 100%;
      font-size: 12px;
    }

    table, th, td {
      border: 2px solid black;
      border-collapse: collapse;
      padding: 2px;
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }

    h3 {
      color: green;
      text-align: left;
    }
  </style>
</head>
<body>
<div th:with="groupAdvancements=${advancementsBoys11}" th:insert="group-advancements.html "></div>

<div style="page-break-before:always"/>
<div th:with="groupAdvancements=${advancementsGirls11}" th:insert="group-advancements.html "></div>

<div style="page-break-before:always"/>
<div th:with="groupAdvancements=${advancementsBoys12}" th:insert="group-advancements.html "></div>

<div style="page-break-before:always"/>
<div th:with="groupAdvancements=${advancementsGirls12}" th:insert="group-advancements.html "></div>

<div style="page-break-before:always"/>
<div th:with="groupAdvancements=${advancementsBoys13}" th:insert="group-advancements.html "></div>

<div style="page-break-before:always"/>
<div th:with="groupAdvancements=${advancementsGirls13}" th:insert="group-advancements.html "></div>

<div style="page-break-before:always"/>
<div th:with="groupAdvancements=${advancementsBoys14}" th:insert="group-advancements.html "></div>

<div style="page-break-before:always"/>
<div th:with="groupAdvancements=${advancementsGirls14}" th:insert="group-advancements.html "></div>
</body>
</html>