<h3>
  <div th:if="${showPrefix}">
    <span th:text="'Eidsprinten 2022 - Avansement - Rangerte - ' + ${groupAdvancements[0].groupName}"></span>
  </div>
  <div th:unless="${showPrefix}">
    <span th:text="'Avansement - Rangerte - ' + ${groupAdvancements[0].groupName}"></span>
  </div>
</h3>

<table>
  <tbody>
  <tr>
    <th style="text-align: center;" colspan="3">Fra løp 1</th>
    <th></th>
    <th style="text-align: center;" colspan="3">Til løp 2</th>
  </tr>
  <tr>
    <th style="text-align: center;">Heat nr.</th>
    <th style="text-align: center;">Klasse</th>
    <th style="text-align: center;">Løp</th>
    <th style="text-align: center;">Resultat</th>
    <th style="text-align: center;">Heat nr.</th>
    <th style="text-align: center;">Løp</th>
  </tr>
  <tr th:class="${advancement.result == 1}? 'first' : ''" th:each="advancement, iterStat: ${groupAdvancements}">
    <td th:if="${advancement.result == 1}" th:rowspan="${advancement.teamsInHeat}" th:text="${advancement.fromHeatNumber}"/>
    <td th:if="${advancement.result == 1}" th:rowspan="${advancement.teamsInHeat}" th:text="${advancement.groupName}"/>
    <td th:if="${advancement.result == 1}" th:rowspan="${advancement.teamsInHeat}" th:text="${advancement.fromHeatName}"/>
    <td th:text="${advancement.result}"/>
    <td th:text="${advancement.toHeatNumber}"/>
    <td th:text="${advancement.toHeatName}"/>
  </tr>
  </tbody>
</table>